.search-results {
  max-height: 300px;
  overflow-y: auto;
  background-color: white;
  position: absolute;
  width: 300px;
  z-index: 1000;
  top: 25px;
}
.search-results a {
  display: block;
  padding: 10px;
  border-bottom: 1px solid #eee;
  text-decoration: none;
  color: black;
}
.search-results a:hover {
  background-color: #f9f9f9;
}
#searchBar {
  position: absolute;
  top: -20px;
  width: 300px;
  height: 30px;
  font-size: 16px;
  padding: 5px 10px;
  border: 2px solid #ddd;
  border-radius: 5px;
}
