header .wrap {
  display: flex;
}
header .wrap_column {
  display: flex;
  flex-flow: column;
}
header .wrap_right {
  display: flex;
  justify-content: flex-end;
}
header .wrap_gap30 {
  display: flex;
  gap: 30px;
}
header .wrap_gap45 {
  display: flex;
  gap: 45px;
}
header .logo_text {
  color: #000;
  font-family: Inter;
  font-size: 14px;
  margin: 0;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  position: relative;
  top: 24px;
  left: 22px;
}
header .logo {
  width: 150px;
  height: 150px;
  flex-shrink: 0;
  border-radius: 148px;
  background: url(../img/logo.png), cover no-repeat;
  position: absolute;
  top: 15px;
  left: 20px;
  z-index: -1;
}
header .title {
  color: #ffa500;
  font-family: ABeeZee;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  font-weight: bold;
  line-height: normal;
  position: relative;
  top: 10px;
  left: 65px;
}
header .profile {
  position: relative;
  right: 30px;
}
header .profile .p_text {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 70px;
  color: #fff;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-indent: 9px;
  top: -10px;
  z-index: 1;
}
header .profile .p_frame {
  position: relative;
  width: 80px;
  height: 27px;
  flex-shrink: 0;
  border-radius: 16px;
  background: #00aeef;
}
header .h_text {
  position: relative;
  top: 50px;
  left: 270px;
  color: #000;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
header .bar {
  position: relative;
  top: 50px;
  left: 270px;
}
header .border {
  position: relative;
  top: 50px;
  left: 0px;
  width: 100%;
  height: 5px;
  background: #ffa500;
}
